<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.osu.bucketlistmatch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BucketList" >
        <activity
            android:name="edu.osu.bucketlistmatch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BucketList.NoActionBar" >
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BucketList.NoActionBar" >
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.SignUpActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.Forget_password"
            android:label="@string/title_activity_forget_password" >
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" >
        </activity>
        <activity
            android:name="edu.osu.bucketlistmatch.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
